body {
    width: 100%;
    height: auto;
}

.custom-bg{
    border-color: #00193B;
}

.btn-outline-custom {
    border-color:#00265c;
}
.btn-outline-custom:hover {
    border-color:#00265c;
    color: #ffffff;
    background-color:  #00193B ;
}

.custom-bg {
    background-color: #00265c; 
}

.searchbutton{
    background-color: #00193B;
    color: #ffffff;
}
.searchbutton:hover{
    background-color: #022351;
    color: #ffffff;
}

.muroAzul {
    display: flex;
    background-color: #00193B;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.muroAzul section {
    color: white;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.nav-link:hover {
    color: #00193B;
    transform: scale(0.9);
    transition: 0.9s;
}

